certifi==2020.12.5
chardet==4.0.0
click==7.1.2
gTTS==2.2.2
idna==2.10
playsound==1.2.2
PyAudio==0.2.11
requests==2.25.1
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
six==1.15.0
SpeechRecognition==3.8.1
urllib3==1.26.3
vext==0.7.4
vext.gi==0.7.4
